<launch>
    <node name="rviz" pkg="rviz" type="rviz"/>

    <node pkg="image_transport" type="republish" name="rgb_decompress" args=" compressed in:=/rgb_republish raw out:=/rgb_raw">
        <param name="compressed/mode" value="color"/>
    </node>

    <node pkg="image_transport" type="republish" name="depth_decompress" args=" compressedDepth in:=/depth_republish raw out:=/depth_raw ">
        <param name="compressed/mode" value="unchanged"/>
    </node>

    <node pkg="exploration_server" type="exploration_server_node" name="exploration_server_node" output="screen">
        <param name="frequency" type="double" value="1.0"/>
        <param name="goal_aliasing" type="double" value="0.1"/>
        <rosparam ns="explore_costmap" subst_value="true" file="$(find naked)/config/exploration.yaml" command="load" />
        <param name="explore_clear_space" type="boolean" value="true"/>
        <param name="frontier_travel_point" type="string" value="middle"/>
    </node>

    <node pkg="naked" type="naked_node" name="server" output="screen"/>
    <include file="$(find camera_pkg)/launch/camera_pkg_node.launch"/>


</launch>