[submodule "src/rosbot_description"]
	path = src/rosbot_description
	url = https://github.com/husarion/rosbot_description.git
[submodule "src/vision_opencv"]
	path = src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
